$primary-color: rgb(153 163 175);

.roadmap {
  background-color: rgba(3, 9, 27, 0.92);
  color: $primary-color;
}
.roadmap-title {
  margin-block-start: 0;
  color: rgb(207, 179, 238);
  font-size: 3rem;
  text-align: center;
  padding-top: 6rem;
}
.roadmap-description {
  width: 50%;
  padding: 0 25% 0 25%;
  font-size: 1.3rem;
  text-align: center;
  word-break: break-word;
}
.roadmap-content {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
}
.roadmap-content-title {
  font-size: 1.3rem;
  font-weight: 500;
}
.line {
  width: 30%;
  border: 1.5px solid $primary-color;
}
.roadmap-field {
  margin-right: 3rem;
}
// styling of the list of roadmaps of top and bottom is done from this same className
.roadmap-field-list {
  margin-top: 3rem;
  margin-block-end: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 10rem 10rem 10rem;
  justify-content: center;
  row-gap: 2rem;
  column-gap: 4rem;
  list-style: none;
}
.roadmap-field-list-span {
  width: 10rem;
  border: 0.3px solid $primary-color;
  background-color: rgba(21, 29, 51, 0.92);
  border-radius: 25px;
  padding: 1.3rem;
  color: rgb(207, 179, 238);
}
.roadmap-field-list-span:hover {
  border: 2px solid $primary-color;
  cursor: pointer;
  color: whitesmoke;
}
