.roadmap {
  height: 100vh;
  background-color: rgba(3, 9, 27, 0.92);
  color: rgb(153 163 175);
}
.roadmap-title {
  margin-block-start: 0;
  margin-block-start: 0;
  text-align: center;
  padding-top: 6rem;
}
.roadmap-description {
  text-align: center;
  width: 50%;
  position: absolute;
  left: 25%;
  word-break: break-word;
  font-size: 1.3rem;
}
